
<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./todolist" Text="ToDo List"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="./categories" Text="Categories"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }
}